<h1>Projects</h1>


<p>
    भागवत पुराण (Shrimad Bhagwat katha in hindi) कलिकाल में सभी पुराण में सर्वाधिक आदरणीय पुराण में से एक है, हमेशा से भागवत पुराण कथा (Shrimad Bhagwat Katha) हिन्दू समाज की धार्मिक, सामाजिक और लौकिक मर्यादाओं की स्थापना में महत्त्वपूर्ण भूमिका अदा करता आ रहा हैं। यह वैष्णव सम्प्रदाय का प्रमुख ग्रन्थ है। भागवत पुराण में वेदों, उपनिषदों तथा दर्शन शास्त्र के गूढ़ एवं रहस्यमय विषयों को अत्यन्त सरलता के साथ निरूपित किया गया है। इसे भारतीय धर्म और संस्कृति का विश्वकोश कहना अधिक समीचीन होगा।

</p>