<h1>Projects</h1>

<p> 
    श्रीमद् भागवत कथा (bhagavat katha) में सकाम कर्म, निष्काम कर्म, ज्ञान साधना, सिद्धि साधना, भक्ति, अनुग्रह, मर्यादा, द्वैत-अद्वैत, द्वैताद्वैत, निर्गुण-सगुण तथा व्यक्त-अव्यक्त रहस्यों का समन्वय उपलब्ध होता है। ‘श्रीमद्भागवत पुराण’ वर्णन की विशदता और उदात्त काव्य-रमणीयता से ओतप्रोत है। यह विद्या का अक्षय भण्डार है।

यह पुराण सभी प्रकार के कल्याण देने वाला तथा त्रय ताप-आधिभौतिक, आधिदैविक और आध्यात्मिक आदि का शमन करता है। ज्ञान, भक्ति और वैरागय का यह महान ग्रन्थ है। भागवत पुराण (bhagwat puran) में बारह स्कन्ध हैं, जिनमें विष्णु के अवतारों का ही वर्णन है। नैमिषारण्य में शौनकादि ऋषियों की प्रार्थना पर लोमहर्षण के पुत्र उग्रश्रवा सूत जी ने इस पुराण के माध्यम से श्रीकृष्ण के चौबीस अवतारों की कथा कही है।

</p>